body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: #ffffff; 
}

header {
  background-color: #1f1f1f; 
  padding: 15px;
  color: #ffffff;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: #ffffff; 
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: #ffffff; 
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background-color: #1f1f1f; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

button {
  background-color: #ffffff; 
  color: #121212; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px;
  border: 1px solid #333333; 
  text-align: left;
  color: #ffffff; 
}

table th {
  background-color: #333333; 
  color: #ffffff;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #e0e0e0; 
}

form input, form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #333333; 
  border-radius: 5px;
  background-color: #2c2c2c; 
  color: #ffffff; 
}

form button {
  width: 100%;
  background-color: #ffffff; 
  color: #121212; 
}

.homepage-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.homepage-buttons a {
  text-decoration: none;
}

.homepage-buttons button {
  background-color: #ffffff; 
  color: #121212; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.homepage-buttons button:hover {
  background-color: #e0e0e0;
}
